@tailwind base;
@tailwind components;
@tailwind utilities;

[role="tab"].active {
  @apply text-red-600 border-red-600 dark:text-red-500 dark:border-red-500 hover:text-red-600 hover:border-red-600 dark:hover:text-red-500 dark:hover:border-red-500;
}

/* Youtube Embed */
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* BCP Our Service */

.bannerBackground {
  background-color: white;
  background-image: url("/img/sprinkles.png");
  background-size: cover;
}

.herobackground {
  background-color: white;
  background-image: url("/img/whiteabs.jpg");
  background-size: cover;
}
.boxsenderreceiver {
  width: 85%;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  height: auto;
}

.largertext {
  color: black;
  font-size: 25px;
  font: bolder;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.imgsendersreceivers {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.smallertext {
  color: black;
  font-size: 12px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.boxunderimg {
  margin: auto auto;
  color: black;
  font-size: 20px;
  width: auto;
  margin-top: 0px;
  text-align: center;
}
/* Header Text Slider */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.13);
  background: #f39c12;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.center {
  position: absolute;
  top: 49.5%;
  left: 0;
  right: 0;
  margin-top: -22.5px;
}
.carousel {
  background-color: red;
  position: relative;
  text-align: center;
  line-height: 45px;
}

.carousel .change_outer {
  position: absolute;
  top: 0;
  text-align: left;
  height: 45px;
  overflow: hidden;
}
.carousel .change_outer .change_inner {
  display: inline-table;
  position: relative;
  animation: rotate 8s ease-in-out infinite;
}

@keyframes rotate {
  0%,
  20% {
    transform: translateY(0);
    width: 200px;
  }
  33%,
  53% {
    transform: translateY(-45px);
  }
  66%,
  86% {
    transform: translateY(-90px);
  }
  100% {
    transform: translateY(-0px);
  }
}

/*  */

/* Divider Coin */
.custom-shape-divider-bottom-1650993162 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1650993162 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 96px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1650993162 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-top-1650993069 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1650993069 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 96px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1650993069 .shape-fill {
  fill: #ffffff;
}
/*  */

.custom-shape-divider-top-1647393075 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1647393075 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 66px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1647393075 .shape-fill {
  fill: #ffffff;
}

/* Divider Trending */
.custom-shape-divider-bottom-1647386089 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1647386089 svg {
  position: relative;
  display: block;
  width: calc(129% + 1.3px);
  height: 76px;
}

.custom-shape-divider-bottom-1647386089 .shape-fill {
  fill: #ffffff;
}
.custom-shape-divider-top-1648170642 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1648170642 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 83px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1648170642 .shape-fill {
  fill: #ffffff;
}
/* Divider Hero */
.custom-shape-divider-bottom-1648168505 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1648168505 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 58px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1648168505 .shape-fill {
  fill: #ffffff;
}
.custom-shape-divider-bottom-1647379428 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1647379428 svg {
  position: relative;
  display: block;
  width: calc(157% + 1.3px);
  height: 183px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1647379428 .shape-fill {
  fill: #ffffff;
}
.avatar {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
